.clippy, .clippy-balloon {
    position: fixed;
    z-index: 1000;
}

.clippy {
    bottom: 0px;
    right: 0px;
    display: block;
    width: 124px;
    height: 93px;
    background: url("https://s3.amazonaws.com/clippy.js/Agents/Clippy/map.png") 0px 0px no-repeat
}

.clippy-balloon {

    background: #FFC;
    color: black;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;

    bottom: 100px;
    right: 35px;

}

.clippy-content {
    max-width: 200px;
    min-width: 120px;
    font-family: "Microsoft Sans", sans-serif;
    font-size: 10pt;
}

.clippy-tip {
    width: 10px;
    height: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAgCAMAAAAlvKiEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF///MAAAA////52QwgAAAAAN0Uk5T//8A18oNQQAAAGxJREFUeNqs0kEOwCAIRFHn3//QTUU6xMyyxii+jQosrTPkyPEM6IN3FtzIRk1U4dFeKWQiH6pRRowMVKEmvronEynkwj0uZJgR22+YLopPSo9P34wJSamLSU7lSIWLJU7NkNomNlhqxUeAAQC+TQLZyEuJBwAAAABJRU5ErkJggg==) no-repeat;
    position: absolute;
}

.clippy-top-left .clippy-tip {
    top: 100%;
    margin-top: 0px;
    left: 100%;
    margin-left: -50px;
}

.clippy-top-right .clippy-tip {
    top: 100%;
    margin-top: 0px;
    left: 0;
    margin-left: 50px;
    background-position: -10px 0;

}

.clippy-bottom-right .clippy-tip {
    top: 0;
    margin-top: -16px;
    left: 0;
    margin-left: 50px;
    background-position: -10px -16px;
}

.clippy-bottom-left .clippy-tip {
    top: 0;
    margin-top: -16px;
    left: 100%;
    margin-left: -50px;
    background-position: 0px -16px;
}

.clippy-text-input {
    margin-top: 5px;
    resize: none;
    clear: both;
    float: left;
}

.clippy-hidden {
    display: none;
}

.clippy-form {
    margin: 0
}

.clippy-message {
    margin: 3px auto;
    border-radius: 5px;
    display: inline-block;
    width: auto;
    padding: 8px;
    background-color: #E9DC51;
    font-family: "Microsoft Sans", sans-serif;
    clear: both;
}

.clippy-message.left {
    float: left;
}

.clippy-message.right {
    float: right;
}

.clippy-message span {
    display: inline-block;
}